.required-item > .ant-form-item-label > label::before {
  content: "*";
  padding-right: 2px;
  color: red;
  margin-top: 6px;
  display: inline-block;
}

/* 配合单多行使用  -webkit-line-clamp: 2; */
.danHangEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.duoHangEllipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
